/**
 * Description: Styling file for index.html of WebGraphingCalc.
 * Version: 1.0.0
 * Last update: 2017/02/16
 **/

/* Basic page theme */ 
 body {
    background-image: url("../img/background_pattern_v4.png");
    background-repeat: repeat;
    margin: 0px;
}

/* Navigation bar styling */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, #dropdown_btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, #dropdown:hover #dropdown_btn {
    background-color: red;
}

#dropdown {
    display: inline-block;
}

#dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown_content a:hover {
    background-color: #f1f1f1
}

/* Spans all buttons, offering a basic button styling and padding. */
.btn_base {
	margin-left:5px;
	width:50px;
	height:50px;
	border-radius:4px;
	font-size:24px;
	cursor:pointer;
}

/* Used with buttons on the left-most side; adds more padding. */
.btn_starters {
	margin-left:25px;
}

/* Used with the basic operations (+ - / * =) buttons; different color. */
.btn_basic_ops {
	color:white;
	background:grey;
	border:grey;
}

/* Used with black function buttons. */
.btn_blacks {
	font-size:14px;
	color:white;
	background:black;
	border:grey;
}

/* Used with thin plotting buttons. */
.btn_thins {
	height:30px;
	font-size:14px;
	color:white;
	background:grey;
	border:grey;
}

/* The calculator frame */
#bg {
	background:#000077;
	width:350px;
	height:820px;
	margin:50px;
}

/* Buffer room between top of screen and LCD */
#spacer {
	height:15px;
}

/* 
	The LCD (canvas) of the calculator. Dimensions are in terms of element size
	on the page. Pixel dimensions are in the HTML document. (96x64)
*/
#LCD {
	margin-left:15px;
	border:1px solid white;
	width:320px;
	height:240px;
}

/* Special buttons */
/* Alpha toggle button */
#btn_alpha {
	background:green;
}

/* 2nd mode toggle button */
#btn_2nd {
	background:lightblue;
}

/* D-pad Down */
#btn_dPad_Down {
	margin-left:35px;
	background:grey;
}

/* D-pad Right */
#btn_dPad_Right {
	background:grey;
}

/* D-pad Left */
#btn_dPad_Left {
	background:grey;
}

/* D-pad Up */
#btn_dPad_Up {
	margin-left:230px;
	background:grey;
}